<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.zak.eatogheter">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Recherche" />
        <activity android:name=".Inscription" />
        <activity android:name=".Recherche_adapter" />
        <activity android:name=".Resultat" />
        <activity android:name=".Resultat_adapter" />
        <activity android:name=".Reservation" />
        <activity android:name=".Reserver" />
        <activity android:name=".Reservation_adapter" />
        <activity android:name=".Navigation" />
        <activity android:name=".Incruster" />
        <activity android:name=".Mes_reservations" />
        <activity android:name=".Mes_reservations_adapter" />
        <activity android:name=".Users_adapter" />
        <activity android:name=".Users_list" />
        <activity android:name=".Profil"></activity>
    </application>

</manifest>